body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}
.container-mainf{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  
}
.container-main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  display: none;
}
.active{
  display: block;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal { 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  padding-top: 60px;
}

.modal-main { 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 30% auto 30% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
}
